[submodule "robot/lerobot-humanoid-model"]
	path = robot/lerobot-humanoid-model
	url = git@github.com:Virgileboat/lerobot-humanoid-model.git
[submodule "lerobot"]
	path = lerobot
	url = git@github.com:huggingface/lerobot.git
	branch = feat/clean-can-bus
